body {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Mali', cursive;
}

h2 {
  margin-bottom: -50px;
}

/* Score colors */

.fail {
  color: #cf0000;
  font-weight: bold;
  text-decoration: underline;
}

.success {
  color: #00a000;
  font-weight: bold;
  text-decoration: underline;
}

/* Difficulty button styling */
.difficulty {
  background: none;
  border: none;
  font-size: 1em;
  font-family: 'Mali', cursive;
}

#easy {
  color: #006000;
  font-weight: bold;
}

#medium {
  color: #906000;
  font-weight: bold;
}

#hard {
  color: #600000;
  font-weight: bold;
}

#character {
  margin-top: -20px;
}

/* Difficulty and Character selection */
.selected {
  box-shadow: 0 5px 0px rgba(0,200,0,0.5);
}

.difficulty:hover,
.character:hover {
  box-shadow: 0 5px 0px rgba(0,0,0,0.5);
}
