body {
    text-align: center;
    font-size: 1.5em;
}

.fail {
  color: #cf0000;
  font-weight: bold;
}

.success {
  color: #c99312;
  font-weight: bold;
}

/* Difficulty button styling */
.difficulty {
  color: #636363;
  background: none;
  border: none;
  font-size: 1em;
}

/* Difficulty and Character selection */
.selected {
  box-shadow: 0 5px 0px rgba(0,200,0,0.2);
}

.difficulty:hover,
.character:hover {
  box-shadow: 0 5px 0px rgba(0,0,0,0.2);
}
